html{
	background-color: rgb(0, 0, 0);
	background-image: url("bgsky.jpeg");
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body{
	font-family: 'Montserrat', sans-serif;
	

	color: #5c15e0;
	text-shadow: 1px 1px 2px rgba(115, 168, 224, 0.39);
	
	
	width: auto;
	  margin: 1%;
	  padding: 0 20px 20px 20px;
	  border: 1px solid rgb(35, 112, 131);
	  /* text-align: center; */
}	  
.split {
    height: 30vh; /* 30% height */
    width: 50%;    /* Half width */
    position: absolute;
    top: 0;
    overflow-x: hidden;
    padding: 30px;
	/*background-image: url("/dawn.jpeg");*/
  }
  .left {
    left: 0;
    /*background-color: #f4f4f4;*/
  }
  .right {
    right: 0;
    /*background-color: #ddd;*/
  }

#Ar{
	text-align: left;

}
#Dg{
	text-align: right;
	position: relative; right: 20px;  top: -20px;
}
a:hover{
	color: rgb(113, 230, 238);
}
h4{
	

    font-family: 'Montserrat', sans-serif;
	margin: 0;
 	padding: 20px 0;    
 	color: #00539F;
 	/* text-shadow: 1px 2px 2px black; */

}
p:hover{
	color:black;
}
h3{
	color: rgb(96, 176, 207);
	font-style: italic;
}
#head{
	color: indianred;
}
footer{
	text-align: center;
}
#poo{
	text-align: center;
}
#hi3{
	text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  width: 70%;
}